/* 自定义样式 */

/*a标签不要下划线*/
a {
    text-decoration: none;
    outline: none;
}
a:active {
}
a:visited {
    color: #647891;
}
a:hover {
    color: #4990e2;
    text-decoration: none;
}

.left{
    float: left;
}
.right{
    float: right;
}


.box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.radius {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.list-title{
    font-size: 16px;
    color: #022856;
}

/*主容器*/
.main-wrap {
    padding-top: 60px;
    min-height: 1024px;
    height: auto;
}

.block-left {

}

.block-right {

}

.block-tag {
    padding: 1px;
    background: #e3c94c;
}

.page-left {

}

.page-right {

}

.page-middle {
    border: #ff6600 1px solid;
}

/*新闻分组TAB切换*/
.news-nav-tabs {
    height: 30px;
}
.news-nav-tabs>li>a {
    position: relative;
    display: block;
    padding: 4px 15px;
}


/* 第一条推荐新闻*/
.recomm-first {
    margin-top: 5px;
    clear: both;
}
.recomm-first a{
    font-size: 16px;
    color: #022856;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.recomm-first a:hover{
    color: #4990e2;
}
.recomm-first p{
    font-size: 12px;
    height: 40px;
    line-height: 20px;
    color: #7D7D7D;
    overflow: hidden;
    margin: 2px 0 0 0;
}

/* 推荐新闻列表 */
.recomm-list {

}

.recommnews-item.is-hot:before {
    background: #7ED321;
}
.recommnews-item:before{
    position: absolute;
    display: block;
    content: '';
    left: 0;
    margin-top: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #CFCFCF;
}
.recommnews-item{
    height: 26px;
    line-height: 26px;
    justify-content: space-between;
    position: relative;
    color: #647891;
}
.recommnews-item a{
    position: relative;
    display: block;
    font-size: 14px;
    color: #647891;
    padding: 0 0 0 13px;
    transition: color .2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 320px;
}
.recommnews-item a:hover{
    color: #4990e2;
}
.recommnews-item span{
    color: #AAA;
    position: relative;
    float: right;
    top: -25px;
}


/* 全局广告类 */
.kggs{
    margin-bottom: 5px;
    display: block;
}

.margin-bottom{
    margin-bottom: 5px;
}

/*动弹文本框*/
.tweet-form .tweet-editor {
    font-size: 12px;
    padding: 7px 9px;
    height: 51px;
    border: 1px solid #D8D8D8;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    resize: none;
}

/*动弹按钮*/
.tweet-form .bn-tweet {
    font-size: 14px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #21B351;
    border: 1px solid #21B000;
}
.tweet_list .nav-tabs>li:last-child{
    float: right;
}
.tweet_list .nav-tabs>li:last-child a{
    color: #9B9B9B;
}
.tweet {
    padding: 5px 0;
}
.tweet .tweet-uimg {
    margin: 0 7px 0 0;
    width: 24px;
    max-width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
}
.tweet .tweet-content {
    margin: 0;
    font-size: 14px;
    color: #111;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tweet .tweet-favor {
    float: right;
    margin-left: 10px;
}


/*首页推荐图片列表*/
.recoimg-list {

}
.recoimg-box {
    position: relative;
    width: 100%;
    max-height: 220px;
    display: block;
    overflow: hidden;
    margin-bottom: 5px;
}
.recoimg-box span {
    position: absolute;
    padding: .25rem .75rem;
    background: rgba(0,0,0, 0.6);
    color: #fff;
    left: 0;
    bottom: 0;
    width: 100%;
    height:45px;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

}
.recoimg-box span a {
    text-decoration: none;
    color: #fff;
}
.recoimg-box span a:hover {
    color: #4990e2;
}


/* 工作 */
.jobs-box {
    margin-bottom: 5px;
}
.content-header {
    height: 22px;
    box-shadow: inset 0 -1px 0 0 #D8D8D8;
    margin: 5px 0 5px 0;
}
.more {
    margin: 0 0 0 16px;
    font-size: 14px;
    color: #9B9B9B;
}


/*----问答页 start---*/
/*margin-bottom*/
.mb-5 {margin-bottom: 5px;}
.mb-10 {margin-bottom: 10px;}
.mb-20{margin-bottom:20px;}
.mb-30{margin-bottom:30px;}
.mb-40{margin-bottom:40px;}
.mb-50{margin-bottom:50px;}

.mt-10 {margin-top: 10px;}
.mt-15 {margin-top: 15px;}
.mt-20 {margin-top: 20px;}
.mt-30 {margin-top: 30px;}
.mt-40 {margin-top: 40px;}
.mt-50 {margin-top: 50px;}
.mt-60 {margin-top: 60px;}

.ml5,.ml-5{margin-left:5px;}
.ml10,.ml-10{margin-left:10px;}
.ml15,.ml-15{margin-left:15px;}

.mr-5{margin-right:5px;}
.mr-10,.mr10{margin-right:10px;}
.mr-20,.mr20{margin-right:20px;}
.mr-30,.mr30{margin-right:30px;}
.pt-30{padding-top: 30px;}

ul {
    list-style: none;
    padding: 0;
}
.widget-category {
    padding: 5px 0;
    border: 1px solid #f0f5f3;
    border-radius: 4px;
}
.widget-category .list>li {
    float: left;
    position: relative;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    margin: 0 5px 5px 0;
}
.widget-category .list a {
    display: block;
    padding: 0 10px;
    border-radius: 30px;
    text-decoration: none;
    border: 1px solid #daecf5;
}
.stream-list {
    margin-bottom: 10px;
}
.stream-list-item {
    margin: 0;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}
.qa-rank {
    float: left;
    margin-right: 5px;
    font-size: 16px;
    text-align: center;
    line-height: 1.2;
    color: #666;
}
.stream-list-item .summary {
    overflow: auto;
    overflow-x: hidden;
}
.qa-rank .answers {
    background-color: #AD3A37;
    color: #fff;
}
.bookmark-rank .answers, .bookmark-rank .views, .bookmark-rank .votes, .qa-rank .answers, .qa-rank .views, .qa-rank .votes {
    display: inline-block;
    padding-top: 3px;
    width: 40px;
    height: 40px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}
.qa-rank small {
    display: block;
    font-size: 12px;
}
.qa-rank .views {
    width: 50px;
    color: #999;
}
.bookmark-rank .answers, .bookmark-rank .views, .bookmark-rank .votes, .qa-rank .answers, .qa-rank .views, .qa-rank .votes {
    display: inline-block;
    padding-top: 3px;
    width: 40px;
    height: 40px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}
.stream-list-item .author {
    margin-bottom: 5px;
    color: #999;
    font-size: 13px;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.stream-list-item .title {
    display: inline;
    margin: 0 5px 0 0;
    font-size: 16px;
}
.stream-list-item .title a:visited {
    font-weight: 400;
}
.stream-list-item .title a {
    color: #333;
}
.ib.taglist--block, .ib.taglist-inline {
    margin: 0;
    display: inline-block;
}
.taglist--block, .taglist-inline {
    list-style: none;
    padding: 0;
    font-size: 0;
}
/*----问答页 end---*/
