/* 自定义样式 */


/*主容器*/
.main-wrap {
    padding-top: 70px;
    min-height: 1024px;
    height: auto;
}

.block-left {

}

.block-right {

}

.block-tag {
    padding: 5px;
    background: #e3c94c;
}

.page-left {

}

.page-right {

}

.page-middle {
    border: #ff6600 1px solid;
}